#menu {
  background-color: rgb(32, 32, 31);
  height: 250px;
  width: 100%;
  margin: 10px 0px;
  position: absolute;
  top: 0px;
}

.menu-icons {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  position: relative;
  bottom: -100px;
  left: -380px;
}

.contact-icons {
  position: relative;
  bottom: 190px;
  left: 600px;
}

a {
  text-decoration: none;
  color:rgb(122, 120, 120);
}

#main-content {
  width: 85%;
  margin: auto;
  position: relative;
  bottom: -300px;
}

.main-text {
  text-align: justify;
  margin-top: 50px;
  padding-top: 20px;
  border-top: rgb(32, 32, 31) 1px solid;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  color: rgb(44, 43, 43);
}

h1 {
  font-family: Courier, monospace;
  font-weight: 600;
  font-size: 60px;
  color: rgb(228, 222, 222);
  margin: 0;
  position: relative;
  bottom: 10px;
  left: 850px;
}

h2 {
  font-family: Courier, monospace;
  font-weight: 600;
  font-size: 35px;
  color: rgb(122, 120, 120);
  margin: 0;
  position: relative;
  bottom: 20px;
  left: 860px;
}

h3 {
  font-size: 20px;
  color: rgb(44, 43, 43);
  font-weight: 600;
}

.top-skills {
  font-weight: 600;
  font-size: 24px;
  color: rgb(1, 80, 1);
}

.medium-skills {
  font-weight: 600;
  font-size: 20px;
  color: rgb(165, 138, 19);
}

.descriptions{
  font-style: italic;
  color: rgb(50, 53, 50);
  font-size: 14px;
  margin: auto;
  text-align: center;
}

#minha-foto {
  width: 220px;
  position: relative;
  bottom: 168px;
  left: 600px;
  background-color:rgb(46, 45, 45);
  padding: 7px;
}

#photo-description {
  width: 300px;
  height: 30px;
  position: relative;
  bottom: -260px;
  left: 570px;
}

.photo-radius{
  border-radius: 100%;
}

#footer {
  background: rgb(32, 32, 31);
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: -1990px;
  text-align: center;
  color: rgb(228, 222, 222);
  
}

.my-projects {
  width: 100%;
  border-top: rgb(32, 32, 31) 1px solid;
  margin-top: 30px;
  height: 370px;
  display: inline-block;
  text-align: center;
}

.my-projects-2 {
  width: 100%;
  margin-top: 30px;
  height: 370px;
  display: inline-block;
  text-align: center;
}

.my-project-images {
  border: rgb(32, 32, 31) 2px solid;
}

.footer-adjust {
  margin-top: 10px;
}

a:hover {
  background-color: rgb(255, 255, 255);
  opacity: 30%;
}

.floater-skills-left {
  float: left;
  width: 50%;
  text-align: center;
  border-top:rgb(32, 32, 31) 1px solid;
  margin-top: 30px;
}

div.floater-skills-left li {
  list-style-type: none;
}

div.floater-skills-right li{
  list-style-type: none;
}

.floater-skills-right {
  float: left;
  width: 50%;
  text-align: center;
  border-top:rgb(32, 32, 31) 1px solid;
  margin-top: 30px;
}
